
				<section class="left-col">
					<h3>Tutorial Terbaru :</h3><br/>
					<h4><a href="#">Tutorial 1</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros at 
					   ipsum posuere. &nbsp; <a href="#">Nyekrip More &rarr;</a></p>
					<h4><a href="#">Tutorial 2</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros at 
					   ipsum posuere. &nbsp; <a href="#">Nyekrip More &rarr;</a></p>
					<h4><a href="#">Tutorial 3</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor eros at 
					   ipsum posuere. &nbsp; <a href="#">Nyekrip More &rarr;</a></p>
				</section> <!-- END Left Column -->