				<aside class="sidebar">
					<h4><a href="#">Arsip</a></h4>
					<ul>
						<li><a href="#">Jan 2015</a></li>
						<li><a href="#">Feb 2015</a></li>
						<li><a href="#">Mar 2015</a></li>
					</ul>
					<br/>
					<h4><a href="#">Kategori</a></h4>
					<ul>
						<li><a href="#">HTML</a></li>
						<li><a href="#">CSS</a></li>
						<li><a href="#">PHP</a></li>
					</ul>
					<br/>
					<h4><a href="#">Sosial</a></h4>
					<ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">RSS</a></li>
						<li><a href="#">Google+</a></li>
					</ul>	
				</aside>