<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <!-- nav-menu-dropdown -->
  <div class="btn-group hidden-xs" id="nav-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{{ site.url | prepend: site.baseurl }}/"><i class="fa fa-home"></i>Home</a></li>
      <li><a href="{{ site.url | prepend: site.baseurl }}/{{ site.categories_path }}"><i class="fa fa-folder"></i>Categories</a></li>
      <li><a href="{{ site.url | prepend: site.baseurl }}/{{ site.tags_path }}"><i class="fa fa-tags"></i>Tags</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
    </ul>
  </div>
  <!--default kanan-atas-->

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
